.dock {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    border-radius: 12px;
}

.dock > a {
    color: White;
    text-decoration: none;
    transition: 1s;
}

.dock > a:hover {
    color: lightblue;
    transform: scale(1.5);
}

#unchecked-star {
    color: lightblue;
}

#checked-star {
    color: lightblue;
}

.card {
  position: relative;
  transition: 1s
}

.card:hover {
  top: -10px;
}